title: Livro Descomplicando o Docker
baseurl: ""

sass:
  sass_dir: _sass
  style: compressed

collections:
  chapters:
    output: true

defaults:
  - 
    scope:
      path: ""
      type: "chapters"
    values:
      layout: "default"
