<script src="{{site.baseurl}}/assets/gitbook/gitbook.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/theme.js"></script>

<script src="{{site.baseurl}}/assets/gitbook/fontsettings/fontsettings.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/sharing/buttons.js"></script>

<script src="{{site.baseurl}}/assets/gitbook/lunr/lunr.min.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/lunr/search-lunr.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/search/search-engine.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/search/search.js"></script>
