<meta charset="UTF-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">

{%- if page.title -%}
    <title>{{ page.title | escape }} · {{ site.title | escape }}</title>
{%- else -%}
    <title>{{ site.title | escape }}</title>
{%- endif -%}

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="{{site.description}}">

{%- if site.author -%}
    <meta name="author" content="{{ site.author | escape }}">
{%- endif -%}

<link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/style.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/fontsettings/website.css">
<!-- <link rel="stylesheet" href="../gitbook/gitbook-plugin-search/search.css"> -->

<link rel="stylesheet" href="{{site.baseurl}}/assets/gitbook/rouge-highlight-colorful.css">

<meta name="HandheldFriendly" content="true"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.baseurl}}/assets/gitbook/images/apple-touch-icon-precomposed-152.png">
<link rel="shortcut icon" href="{{site.baseurl}}/assets/gitbook/images/favicon.ico" type="image/x-icon">
