<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a href="{{ site.baseurl }}" class="navbar-brand">Livro Descomplicando o Docker</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href=""></a>
        </li>
      </ul>

      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item">
          <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/badtuxx/DescomplicandoDocker">
            GitHub
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
