---
---
@import "bootswatch-superhero.min.css";
@import "highlight.css";

#wrapper {
  display: flex;
  min-height: calc(100vh - 57px);
  flex-direction: row;
}

#sidebar {
  width: 20%;
  color:#bbb;
  padding: 20px 20px 0 20px;

  .introduction {
    margin-bottom: 10px;

    a {
      color: white;
    }
  }

  ul.menu {
    width: 100%;
    padding: 0;

    li {
      width: 100%;
      padding: 10px;
      border: 1px solid white;
      list-style: none;
      margin-bottom: 5px;
      font-size: 10pt;

      a {
        color: inherit;
      }
    }
  }

  p.copyright {
    font-size: 10pt;
  }
}

#content {
  width: 80%;
  padding: 40px 40px 0 40px;

  div.highlight pre {
    padding: 5px;
  }

  img {
    width: 100%;
  }
}
